/* Reset css */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: black;
  font-weight: normal;
}

/* imports... */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

html {
  background-color: #e7e7e7;
}
body {
  margin: 50px 275px 50px 275px;
  background-color: #ffffff;
  width: 1280px;
  height: 1917px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 4px 48px -12px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
header {
  display: block;
  background-color: #4572e8;
  color: white;
  width: 1280px;
  height: 68px;
  border: none;
  margin-top: -1px;
  margin-left: -1px;
}

nav {
  width: 100%;
  height: 100%;
}
ul {
  list-style-type: none;
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 16.41px;
}

main,
footer {
  margin-left: 122px;
  margin-right: 122px;
}

form {
  display: inline-flex;
  width: 1036px;
  height: 60px;
  margin-top: 48px;
}
.search {
  width: 904px;
  height: 60px;
  background-color: #e7e7e7;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #333333;
  border: none;
}

.search::placeholder {
  color: #333333;
  padding-left: 19px;
}

button {
  width: 132px;
  height: 60px;
  background-color: #4572e8;
  color: white;
  font-size: 16px;
  font-weight: 400px;
  line-height: 18.75px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.primeiraimagem {
  width: 1036px;
  height: 406px;
  margin-top: 48px;
}

h1 {
  width: 1036px;
  height: 106px;
  margin-top: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  font-weight: bold;
}

.normal {
  width: 1036px;
  height: 271px;
  margin-top: 48px;
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  color: #333333;
}

.italico {
  width: 1036px;
  height: 121px;
  margin-top: 48px;
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  font-style: italic;
  color: #333333;
}

hr {
  margin: 48px 122px 49px 122px;
  width: 1036px;
  height: 1px;
  background-color: #e7e7e7;
  opacity: 25%;
}
footer {
  width: 1036px;
  height: 450px;
  margin-bottom: 160px;
  display: inline-flex;
  justify-content: space-between;
}

.container {
  width: 307px;
  height: 420px;
}

.imagemfooter {
  width: 307px;
  height: 200px;
}

.ultimotitulofooter {
  width: 307px;
  height: 60px;
  margin-top: 18px;
  font-weight: 700;
  font-size: 17px;
  line-height: 34px;
  font-weight: bold;
}

.descricao-noticia {
  width: 307px;
  height: 66px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}

.linkout {
  width: 307px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  text-decoration: none;
  color: #4572e8;
  font-weight: bold;
}
